#main_box{
 font-size:16px;
 min-width:320px;
 position:relative;
}
#main_box .mb{
 display:none;
}
#main_box .pc{
 display:block;
}
#main_box .clearfix:before, .clearfix:after { content: ""; display: table; }
#main_box .clearfix:after { clear: both; }
.banner{
 background-image:url(../images/banner_bg.jpg);
 background-position:center top;
 background-repeat:repeat-x;
}
.banner .banner_box{
 display:block;
 max-width:1280px;
 margin:0 auto;
 position:relative;
}
.banner .banner_box .bg{
 width:100%;
 max-width:1279px;
 height:auto;
}
.banner .model{
 font-family:"Samsung";
 font-size:1.875em;
 font-weight:bold;
 position:absolute;
 z-index:1;
 top:5%;
 right:1%;
}
.banner_txt{
 position:absolute;
 z-index:2;
 display:inline-block;
 border:1px red solid;
 top:29%;
 left:68%;
 
}
.banner_txt .date{
 color:#0b54a2;
 font-size:1.375em;
 font-family:"Samsung";
 letter-spacing:.02em;
 font-weight:bold;
 white-space:nowrap;
}

.banner_logo{
  position: absolute;
  top:0;
  right: 0;
}

.banner_logo img{
  height: 30em;
  width: auto;
}

.sub1{
 position:relative;
 max-width:1280px;
 margin:0 auto;
}
.sub1 a{
    display: block;
    width: 16em;
    height: 3em;
    background:#fff;
    border:1px #00b0e6 solid;
    box-sizing: border-box;
    position: absolute;
    z-index: 1;
    right: 0%;
    top: -4.5em;
    border-radius: 5px;
    font-size: 1.125em;
    font-weight: normal;
    color: #00b0e6;
    text-align: center;
    vertical-align: middle;

    transition-property: font-size,background,border;
    transition-duration: 0.4s;
}

#main_box .sub1 a:hover{
 background:#00b0e6;
 color: #fff;
 border:1px #fff solid;
}

#main_box .sub1 a img{
    vertical-align: middle;
    height: 1.2em;
    margin-top: -0.6em;
    margin-left: 0.1em;
}

#main_box .sub1 a span{
  font-size: 1.5em;
  line-height: 2em;
  font-family: 'Microsoft JhengHei', '微軟正黑體', 'Arial', 'sans-serif';
}

#main_box .sub1 a .over{
  display: none;
}

#main_box .sub1 .ani-mb{
  display: none;
}


.list_box{
 margin:0 3%;
}

.lists{
  margin-top: 3em;
}

.lists .item {
        margin:0 1.6% 4%;
		width:30%;
		background-color:#fff;
		padding:10px 8px 6px; 
		border: 3px solid #00b0e6; 
  	border-radius: 10px;
  	box-sizing: border-box;
    box-shadow: 0px 3px 4px #cccccc;
	float:left;
}
.lists .pic{
 text-align:center;
 border-bottom:1px #d0d0d0 solid;
 padding:5% 0;

 overflow: hidden;
}
.lists .pic img{
 max-width:260px;
 width:80%;
 height:auto;
}
.lists .txt{
 font-size:1.25em;
 font-family:'Microsoft JhengHei', '微軟正黑體', 'Arial', 'sans-serif';
 line-height:165%;
 width:96%;
 height:8.8em;
 margin:3% auto;
 padding:3% 0;
}
.lists .txt span{
 font-family:"Samsung";
}
.lists .btn{
 display:block;
 width:80%;
 max-width:266px;
 height:2.125em;
 background:#00b0e6;
 box-shadow: inset  0px -101em 0em -100em #009bca;
 box-sizing: border-box;
 margin:5% auto;
 border-radius: 2em;
 font-size:1.250em;
 font-weight:normal;
 color:#fff;
 text-align:center;
 vertical-align:middle;
 line-height:2.125em;
}

.lists .btn img{
  vertical-align: middle;
  height: 0.8em;
  margin-top: -3px;
  margin-left: 2px;
}

/*.lists .btn:hover span,.lists a.on span{
 border-bottom:1px #fff solid;
}*/

.lists .btn:hover{
 background:#fff;
 box-shadow: inset  0px -100em 0em -100em #fff;
 box-sizing: border-box;
 border: 1px;
 border-style:solid;
 border-color: #00b0e6;
 color: #00b0e6;
}

.lists .btn .over{
  display: none;
  margin-left: 4px;
}

.lists .btn{
  transition-property: font-size,box-shadow,background;
  transition-duration: 0.4s;
}


@media screen and (max-width: 1280px){

  .banner{
   background-size:auto 100%;
   -ms-behavior: url(backgroundsize.min.htc);
   behavior: url(backgroundsize.min.htc);
  }
  .sub1 a{
  right:4%;
  }
}

@media screen and (max-width: 1200px){
#main_box{
 font-size:15px;
}
}
@media screen and (max-width: 1120px){
#main_box{
 font-size:14px;
}
}
@media screen and (max-width: 1060px){
#main_box{
 font-size:13px;
}
}
@media screen and (max-width: 1000px){
#main_box{
 font-size:12px;
}
}
@media screen and (max-width: 960px){
  #main_box{
   font-size:16px;
  }
  #main_box .mb{
   display:block;
  }
  #main_box .pc{
   display:none;
  }

  .banner_logo{
    display:none;
  }

  .sub1{

  }
   
  .lists .item {
          margin:0 1.6% 4%;
  		width:46%;
  		background-color:#fff;
  		padding:10px 8px 6px; 
  		border: 3px solid #0A56A2; 
    	border-radius: 10px;
    	box-sizing: border-box;
      box-shadow: 0px 3px 4px #cccccc;
  	float:left;
  }
  .list_box {
      margin: 0;
  }
  .sub1,.sub2 {
      position: relative;
      width:96%;
  	display:block;
  	margin:3% 2% 3% 2%;
  	float:left;
  	padding:0;
  }
  .sub2{
   float:right;
   margin-right:3.5%;
  }
  .sub1 a{
   position:static;
   width:100%;
   height:3em;

   background:#00b0e6;
   color: #fff;
   border:1px #fff solid;
  }
  .sub1 a:hover{
   background:#00b0e6;
   color: #fff;
   border:1px #fff solid;
  }

  .sub1 .over{
    display: inline-block;
  }

  #main_box .sub1 .ani-pc{
    display: none;
  }

  #main_box .sub1 .ani-mb{
    display: inline-block;
  }

  .lists .txt{
   font-size:1.750em;
  	 padding:0;
  	 height:11em;
  }

  .sub1 a{
   font-size:2.125em;
  }

  .lists .btn{
   display:block;
   width:100%;
   max-width:266px;
   height:2.2em;
   background:#00b0e6;
   box-shadow: inset  0px -101.1em 0em -100em #009bca;
   box-sizing: border-box;
   margin:5% auto;
   border-radius: 1.2em;
   font-size:2em;
   font-weight:normal;
   color:#fff;
   text-align:center;
   vertical-align:middle;
   line-height:2.2em;

    transition-property: font-size,box-shadow,background;
    transition-duration: 0s;
  }

  .lists .btn:hover{
background:#00b0e6;
 box-shadow: inset  0px -101.1em 0em -100em #009bca;
 box-sizing: border-box;
 border: 1px;
 border-style:solid;
 border-color: #fff;
 color: #fff;
}

  .lists {
    margin-top: 0.5em;
    margin-left: 0.5em;
  }

}

@media screen and (max-width: 900px){
#main_box{
 font-size:15px;
}
}
@media screen and (max-width: 840px){
#main_box{
 font-size:14px;
}
}
@media screen and (max-width: 780px){
#main_box{
 font-size:13px;
}
.lists .pic {
 padding:0;
}
}
@media screen and (max-width: 720px){
#main_box{
 font-size:12px;
}
}
@media screen and (max-width: 660px){
#main_box{
 font-size:11px;
}
}
@media screen and (max-width: 600px){
#main_box{
 font-size:10px;
}
}
@media screen and (max-width: 540px){
#main_box{
 font-size:9px;
}
}
@media screen and (max-width: 480px){
#main_box{
 font-size:8px;
}
}
@media screen and (max-width: 420px){
#main_box{
 font-size:7px;
}
}
@media screen and (max-width: 360px){
#main_box{
 font-size:6px;
}
}