@charset "UTF-8";
/**
 *
 * @authors Eric Hsiao
 *
 */

/* ==========================================================================
   custom-editor class
   ========================================================================== */

#custom-editor{
  position: relative;
  height: 100%;
  width: 100%;
}

/**********************************/

#side-area{
  position: absolute;
  height: 100%;
  width: 34em;  /*for width ctrl*/
}

.side-tools{
  width: 100%;
  height: 100%;
}

.side-tools-bar{
  position: relative;
  width: 119px;
  height: 100%;
  background-color: #4d4d4d;
  background-image: url(../images/side-tools-bar-dummy.png);
  background-repeat: no-repeat;
}

.side-tools-option{
  /*position: relative;
  width: 439px;
  height: 100%;*/

  position: absolute;
  top:0;
  bottom: 0;
  left:119px;
  right: 0;
  background-color: #3f3f40;

  overflow: auto;
}

.tools-filter{
  width: 100%;
  overflow: hidden;
}

/********************************/

#main-area{
  position: absolute;
  top:0;
  bottom: 0;
  left:34em; /*for width ctrl*/
  right: 0;
}

.main-area-scroll{
  position: relative;
  width: 100%;
  height: 100%;
  overflow: auto;
}

#mainCanvas{
  position: relative;
  outline: 1px solid #ccc;
  background-color: #e6e6e6;
  margin: 50px;
  margin-top: 100px;

  /*position: absolute;
  left:50%;
  margin-left: -540px;
  top:50%;
  margin-top: -330px;*/
}

/*****************/

.tools-bar-container{
  position: relative;
  width: 100%;
  height: 33px;
  background-color: #ccc;

  margin-top:60px;
}

.tools-bar{
  position: absolute;
  height: 46px;
  min-width: 200px;
  border-radius: 20px;
  background-color: #f2f2f2;

  top:30px;
  left:30px;

  padding-left: 22px;
  padding-right: 22px;
}

.tools-group{
  display: inline-block;
}

.tools-bar-column{
  position: relative;
  height: 35px;
  border-right: 1px #bcbdbf solid;
  display: inline-block;
  margin-top: 5px;
  margin-left: 20px;
  padding-right: 20px;
  font-size: 0px;
}

.tools-bar-column-end{
  border-right: none;
  padding-right: 0px;
}

.tools-bar select{
  position: absolute;
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  width: 100%;
  height: 100%;
  background: #f2f2f2;
  font-size: 22px;
  color: #58595b;
  cursor: pointer;
}

.tools-bar option{
  background: #f2f2f2;
  outline: none;
}

.tools-bar button{
  min-width: 35px;
  min-height: 35px;
  margin: 0;
  padding: 0;
  border:1px transparent solid;
  border-radius: 5px;
  outline: none;
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
  display: inline-block;

  margin-left: 3px;
  margin-right: 3px;
}

.tools-bar button:hover{
  border:1px #ccc solid;
}

.tools-bar button:active{
  opacity: .7;
  filter: alpha(opacity=70);
}

/*******   ALL   *******/

.btn-tools-copy{
  width: 100px;
  height: 35px;
  background-image: url(../images/btn-tools-copy.png);
  cursor: pointer;
}

.btn-tools-delete{
  width: 35px;
  height: 35px;
  background-image: url(../images/btn-tools-delete.png);
  cursor: pointer;
}

.tools-alpha-slider{
  display: inline-block;
  width: 220px;
  height: 35px;
  background-image: url(../images/tools-alpha-slider-bg.png);
  margin-left: 10px;
}


.alpha-slider{
  display: inline-block;
  width: 150px;
  height: 35px;
  margin-left: 19px;
}

.ui-widget.ui-widget-content {
  border: none;
  height: 2px;
  margin-top: 17px;
  background:#9ea0a2;
}

.ui-slider-handle{
  background:#58595B !important;
  border:none !important;
  border-radius: 10px;
  outline: none;
  top:-5px !important;
  width: 11px !important;
  height: 11px !important;
}

/*******  Text  *******/

.text-tools-font-select{
  position: relative;
  width: 115px;
  height: 100%;
  cursor: pointer;
}

.text-tools-font-select select{
  width: 115px;
}

.text-option-arial{
  font-family: Arial;
}

/**************/

.btn-tools-color-pick{
  width: 35px;
  height: 35px;
}

.color-pick-menu .btn-tools-color-pick-list{
  width: 35px;
  height: 35px;
  margin:3px;
}

.color-pick{
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-color: #fff;
}

.color-pick-selected{
  background-color: red;
}

.color-pick-menu{
  position: absolute;
  width: 258px;
  height:271px;
  background: #f2f2f2;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  top:40px;
  left:-5px;
  padding-left: 10px;

  display: none;
}

.color-pick-menu p{
  font-size: 18px;
  font-family: "微軟正黑體";
  margin-bottom: 2px;
  margin-left: 2px;
}

/***********************/

.btn-tools-textBold{
  background-image: url(../images/btn-tools-textBold.png);
}

.btn-tools-textItalic{
  background-image: url(../images/btn-tools-textItalic.png);
}

.btn-tools-textAlignLeft{
  background-image: url(../images/btn-tools-textAlignLeft.png);
}

.btn-tools-textAlignCenter{
  background-image: url(../images/btn-tools-textAlignCenter.png);
}

.btn-tools-textAlignRight{
  background-image: url(../images/btn-tools-textAlignRight.png);
}

/**************************/

/**** For TEST ********/

.side-tools-option button{
  position: relative;
  width: 21.5em;
  height: 12.5em;
  margin: 0 auto;
  padding: 0;
  border:none;
  outline: none;
  background-color: #4d4d4d;
  background-position: center center;
  background-repeat: no-repeat;
  display: inline-block;

  margin:1em;
  margin-left:2em;
  margin-right:0px;

  font-family: "微軟正黑體";
  /*font-size: 22px;*/
  color: #ccc;
}


/* ==========================================================================
   Responsive class
   ========================================================================== */

@media only screen and (max-width: 1680px) {
  body{
    font-size: 15px;
  }

}

@media only screen and (max-width: 1440px) {
  body{
    font-size: 14px;
  }

}

@media only screen and (max-width: 1280px) {
  body{
    font-size: 12px;
  }

}

@media only screen and (max-width: 640px) {


}


/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}