@charset "UTF-8";
/**
 *
 * @authors Eric Hsiao, JWT TAIPEI (eric.hsiao@jwt.com)
 * @date    2013-12-10 20:43:44
 * @version $Id$
 */

/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Content class
   ========================================================================== */

html,
body {
  margin:0;
  padding:0;
  height:100%;
}

#wrapper {
  min-height:100%;
  position:relative;
}

a {
  outline: none !important; /* for Firefox Google Chrome  */
  behavior:expression(this.onFocus=this.blur()); /* for IE */
}


/***************************/

#header {
  position: absolute;
  width: 100%;
  z-index: 1000;
  top:0;
}

.header-logo{
  float: left;
}

/*.menu-btn{
  float: right;
  cursor: pointer;
}*/

.menu-btn{
  position: fixed;
  top:0;
  right: 0;
}

.menu{
 position: fixed;
  width: 100%;
  height: 100%;
  top:0;
  left:0;

  background: #0096e0;
  z-index: 5000;

  display: none;
}

.menu-close{
  position: absolute;
  width: 57px;
  height: 57px;
  right: 20px;
  top:20px;
  background-image: url(../images/close-btn.png);
  cursor: pointer;
}

.menu-option{
  position: relative;
  width: 640px;
  margin: 0 auto;
  margin-top: 120px;
}

.menu-option-btn{
  position: relative;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  font-size: 26px;
  font-family: 微軟正黑體;
  border-top: 1px #30aae6 solid;

  color: #fff;
  cursor: pointer;
}

.menu-option-0{
  border-top: none;
}

/***************************/

#top-page{
  background-image: url(../images/top-pattem.png);
  width:100%;
  height: 602px;
  border-bottom: 2px #a0a5a8 solid;
}

.top-kv{
  position: relative;
  width: 1200px;
  height: 600px;
  margin: 0 auto;
  background-image: url(../images/top-kv-dummy.png);
}

.top-btn{
  position: absolute;
}

.top-btn:hover{
  background-position: 0 100%;
}

.top-btn-1{
  top: 428px;
  left: 654px;
  width: 235px;
  height: 56px;
  background-image: url(../images/top-btn-1.png);
}

.top-btn-2{
  top: 428px;
  left: 912px;
  width: 191px;
  height: 56px;
  background-image: url(../images/top-btn-2.png);
}

.sub-line{
  position: relative;
  width: 100%;
  height: 10px;
  background-image: url(../images/sub-line.png);
}

#rule-page{
  width:100%;
  background-color: #fedaa9;
  min-height: 500px;
  text-align: center;
  padding-top: 40px;
}

.rule-title{
  margin-bottom: 20px;
}

.rule-content{
  position: relative;
  width: 1000px;
  margin:0 auto;
  text-align: left;
  font-family: 微軟正黑體;

  margin-bottom: 40px;
}

.rule-content-title p{
  font-size: 20px;
  margin-top:5px;
  margin-bottom:5px;
  font-weight: bold;
}

.rule-notice{
  position: relative;
  width: 1000px;
  margin:0 auto;
  text-align: left;
  font-family: 微軟正黑體;
}

.rule-notice p{
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 25px;
    text-indent: -25px;
    line-height: 24px;
}

/***********************/

.rule-link{
  position: relative;
  height: 200px;
  margin:0 auto;
}

.rule-btn{
  width: 196px;
  height:80px;
  background-position: 0 0;

  display: inline-block;

  margin-top: 55px;
  margin-left: 30px;
  margin-right: 30px;
}

.rule-btn:hover{
  background-position: 0 100%;
}

.rule-btn-1{
  background-image: url(../images/rule-btn-1.png);
}

.rule-btn-2{
  background-image: url(../images/rule-btn-2.png);
}

.rule-btn-3{
  background-image: url(../images/rule-btn-3.png);
}


.rule-btn-4{
  background-image: url(../images/rule-btn-4.png);
}


/*******************************/

.no-li li{
  list-style-type:none;
  margin-top: 5px;
  margin-bottom: 5px;
}

.back-btn{
  position: relative;
  width: 611px;
  height: 80px;
  background-image: url(../images/back-btn.png);
  margin-top: 45px;
}

.back-btn:hover{
  background-position: 0 100%;
}

.back-menu{
  height: 150px;
}

table{
  border: 1px solid black;
}

/*******************************/

#comic-page, #tvc-page{
  background-repeat: no-repeat;
  background-position: center 0;
}

.cta-btn{
  position: absolute;
}

.cta-btn:hover{
  background-position: 0 100%;
}

.cta-btn{
  top: 0px;
  left: 0px;
  width: 235px;
  height: 56px;
  background-image: url(../images/top-btn-1.png);
}

/*****************************/

#comic-page{
  position: relative;
  background-image: url(../images/comic-bg.png);
  width:100%;
  height: 700px;
}

.comic-content{
  position: relative;
  width: 1000px;
  height: 700px;
  background: url(../images/comic-content-dummy.png);
  margin: 0 auto;
}

.comic-content .cta-btn{
  top:227px;
}

.comic-content .fb-btn{
  top: 464px;
  left: 614px;
  width: 222px;
  height: 50px;
  background-image: url(../images/fb-btn.png);
}

/**************/

#tvc-page{
  position: relative;
  background-image: url(../images/tvc-bg.png);
  width:100%;
  height: 700px;
}

.tvc-content{
  position: relative;
  width: 1000px;
  height: 700px;
  background: url(../images/tvc-content-dummy.png);
  margin: 0 auto;
}

.tvc-content .cta-btn{
    top: 233px;
    left: 621px;
}

.tvc-content .fb-btn{
    top: 430px;
    left: 187px;
  width: 222px;
  height: 50px;
  background-image: url(../images/fb-btn.png);
}

.fb-btn{
  cursor: pointer;
}

/*******************************/

.blogger-box{
  position: fixed;
  width: 100%;
  height: 100%;
  top:0;
  left:0;

  background: #0096e0;
  z-index: 5000;

  display: none;
}

.blogger-img{
  position: absolute;
  width: 976px;
  height: 690px;
  top:50%;
  left:50%;
  margin-left: -488px;
  margin-top: -345px;
  background-image: url(../images/blogger-img.jpg);
}

.blogger-close{
  position: absolute;
  width: 57px;
  height: 57px;
  right: 20px;
  top:20px;
  background-image: url(../images/close-btn.png);
  cursor: pointer;
}

.blogger-close:hover{
  opacity: .7;
  filter: alpha(opacity=70);
}

.blogger-img-s{
  position: absolute;
  top: 110px;
  left: 477px;
  cursor: pointer;
}

.blogger-img-s img{
  width: 483px;
  height: 371px;
}

/*******************************/

.pc-client{
  display: block;
}

.mobile-client{
  display: none;
}

/* ==========================================================================
   Responsive class
   ========================================================================== */

@media only screen and (max-width: 1200px) {

  .top-kv{
    position: relative;
    width: 1000px;
    height: 600px;
    margin: 0 auto;
    background-image: url(../images/top-kv-dummy-1000.png);
  }

  .top-btn-1 {
    top: 428px;
    left: 536px;
    width: 235px;
    height: 56px;
    background-image: url(../images/top-btn-1.png);
  }

  .top-btn-2 {
    top: 428px;
    left: 794px;
    width: 191px;
    height: 56px;
    background-image: url(../images/top-btn-2.png);
  }
}

/*@media only screen and (max-width: 1000px) {
  #top-page, #comic-page, #tvc-page, #rule-page{
    width: 1000px;
  }
}*/

@media only screen and (max-width: 640px) {

  .pc-client{
    display: none;
  }


  .mobile-client{
    display: block;
  }

  #wrapper{
    width: 640px;
    overflow: hidden;
  }

  #top-page{
    height: 880px;
  }

  .top-kv{
    position: relative;
    width: 640px;
    height: 880px;
    margin: 0 auto;
    background-image: url(../images/mobile/top-kv-dummy.png);
  }

  .top-btn-1{
    top: 790px;
    left: 93px;
    width: 235px;
    height: 56px;
    background-image: url(../images/top-btn-1.png);
  }

  .top-btn-2{
    top: 790px;
    left: 350px;
    width: 191px;
    height: 56px;
    background-image: url(../images/top-btn-2.png);
  }


  .rule-notice{
    width: 600px;
    margin-left: 20px;
  }

  .rule-notice p{
    -webkit-text-size-adjust: 100%;
    font-family: 'Helvetica', '微軟正黑體';
    font-size: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 35px;
    text-indent: -35px;
    line-height: 24px;

    color: #000;
  }

  .rule-btn{
    width: 610px;
    height:90px;
    background-image:none;
    margin-top: 0px;
    margin-bottom: 8px;
    margin-left: 20px;
    background-color:none;
  }

  .rule-link a{
    font-size: 0px !important;
  }

  .rule-link{
    width: 640px;
    height: 479px;
    background-image: url(../images/mobile/rule-link-dummy.png);
    padding-top: 22px;
    margin-left: -5px;
  }

  /**********************/

  .winner-page table{
    font-size: 24px;
  }

  td p{
    font-size: 24px !important;
  }

  .winner-page ol, .winner-page ul{
    padding: 0 0 0 20px;
  }

  /****************************/

  #comic-page{
    position: relative;
    background-image: none;
    width:640px;
    height: 882px;
  }

  .comic-content{
    position: relative;
    width: 100%;
    height: 100%;
    background: url(../images/mobile/comic-content-dummy.png);
    margin: 0;
  }

  .comic-content .cta-btn{
    top: 196px;
    left: 199px;
  }

  .comic-content .fb-btn{
    top: 660px;
    left: 209px;
    width: 222px;
    height: 50px;
    background-image: url(../images/fb-btn.png);
  }

  #tvc-page{
    position: relative;
    background-image: none;
    width:640px;
    height: 882px;
  }

  .tvc-content{
    position: relative;
    width: 100%;
    height: 100%;
    background: url(../images/mobile/tvc-content-dummy.png);
    margin: 0;
  }

  .tvc-content .cta-btn{
    top: 245px;
    left: 199px;
  }

  .tvc-content .fb-btn{
    top: 692px;
    left: 209px;
    width: 222px;
    height: 50px;
    background-image: url(../images/fb-btn.png);
  }

  /***********************/

  .blogger-img-s {
    position: absolute;
    top: 305px;
    left: 72px;
    cursor: pointer;
  }

  .blogger-box{
    overflow: scroll;
  }

  .blogger-img{
    position: relative;
    width: 600px;
    height: 1500px;
    top:0;
    left:0;
    background-image: url(../images/mobile/blogger-img-L.jpg);

    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 50px;
  }
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}