@charset "UTF-8";

body, html {
  position: relative;
  background: #ccc;
  font-size: 16px;
  font-family: 'Noto Sans TC', sans-serif !important;
  -webkit-text-size-adjust: 100%;

  background-image: url(../images/pc_display.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  letter-spacing: 0.05em;

  @media screen and (min-width: 769px){
    font-size: 12px;
  }
}

.container-fluid {
  padding: 0 !important;
}
