@charset "UTF-8";
/**
 *
 * @authors Eric Hsiao, JWT TAIPEI (eric.hsiao@jwt.com)
 * @date    2013-12-10 20:43:44
 * @version $Id$
 */

/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Content class
   ========================================================================== */

html,
body {
  margin:0;
  padding:0;
  height:100%;
}

#wrapper {
  position:absolute;
  top:0;
  bottom: 0;
  left:0;
  right: 0;
}

#content {

}

#header{

}

.index-content{
  overflow: hidden;
}


/*****************************************************/

.pc-header{
  position: fixed;
  left:0;
  top:0;
  z-index: 2000;
  width:100%;
  height:70px;
  /*background-color: rgba(0,0,0,.85);*/
  background:url(../images/alpha-80.png);
}

.logo{
  position: relative;
  float: left;
}

.menu-nav{
  position: relative;

  width: 735px;
  margin: 0 auto;
  padding: 0;
  height:70px;
}

.menu-nav li{
  display:inline-block;
  margin-top:30px;
  outline: none;
}

.menu-nav a{
  outline: none;
}

.menu-nav div{
  position: relative;
  height:14px;
  background-position: 0 0;
  margin-left: 20px;
}

.menu-nav div:hover{
  background-position: 0 100%;
}

.nav-active{
  background-position: 0 100% !important;
}

.menu-nav-1{
  width:93px;
  background-image:url(../images/menu-nav-1.png);
}

.menu-nav-2{
  width:61px;
  background-image:url(../images/menu-nav-2.png);
}

.menu-nav-3{
  width:93px;
  background-image:url(../images/menu-nav-3.png);
}

.menu-nav-4{
  width:93px;
  background-image:url(../images/menu-nav-4.png);
}

.menu-nav-5{
  width:78px;
  background-image:url(../images/menu-nav-5.png);
}

.menu-nav-6{
  width:89px;
  background-image:url(../images/menu-nav-6.png);
}

.menu-nav-7{
  width:60px;
  background-image:url(../images/menu-nav-7.png);
}

/*****************************************************/

.table-topic{
  position:relative;
  width:100%;
  /*height:768px;*/

  height:768px;
  background-size: cover;
  background-position: center 0;
}

#table-1{
  background-image: url(../images/table-bg-1.jpg);
}

#table-2{
  background-image: url(../images/table-bg-2.jpg);
}

#table-3{
  background-image: url(../images/table-bg-3.jpg);
}

#table-4{
  background-image: url(../images/table-bg-4.jpg);
}

#table-5{
  background-image: url(../images/table-bg-5.jpg);
}

#table-6{
  background-image: url(../images/table-bg-6.jpg);
}

.table-title{
  /*position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-image: url(../images/table-title.png);
  background-repeat: no-repeat;
  background-position: center center;

  pointer-events: none;*/

  position: absolute;
  top:50%;
  left:50%;

  width:612px;
  height:515px;

  margin-left: -560px;
  margin-top:-257px;

  background-image: url(../images/table-title.png);
  background-repeat: no-repeat;
}

/***************************/

.table-btn{
  position: absolute;
  left:0;
  top:0;
  cursor: pointer;
}

.table-btn div{
  position: relative;
  display:inline-block;
}

/******************************/

.product-kv{
  position: relative;
  width:100%;
  height:650px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.product-1{
  background-image: url(../images/product-1/product-kv.jpg);
}

/*************************************/

.scrolldown{
  position: relative;
}

.scrolldown-btn{
  position: absolute;
  top:-53px;
  left:50%;
  margin-left:-55px;

  width:110px;
  height:53px;
  overflow: hidden;
}

.scrolldown-arr{
  position: absolute;
  top: 27px;
  left:50%;
  margin-left:-17px;
}

/************************************/

.product-kv{
  position: relative;
}

.product-kv-title{
  position: absolute;
  width:100%;
  height:100% !important;
  left:0;
  top:0;
}

.product-story{
  position: relative;
  width:100%;
  text-align: center;
}

.product-story div{
  font-size: 0;
}

._g{
  background-color: #e9e9e7;
}

._w{
  background-color: #f4f4f4;
}

.fixed-img img{
  visibility:hidden;
}

.fixed-img{
  margin: 0;
  padding: 0;
  font-size: 0;
}


/*******************************/

.product-ec{
  position: relative;
  width:100%;
  text-align: center;

  border-top: 1px solid #cccccc;

  padding-top: 65px;
  padding-bottom: 60px;
}

.product-ec-list{
  margin-bottom: 35px;
}

.product-ec-list li{
  display:inline-block;
  width:175px;
  height:175px;
  background-color: #fff;
  margin-left:15px;
  overflow:hidden;
}

.product-ec-list img{
  width:auto;
  height:175px;
}

/*.product-ec-list li:hover{
  border: 1px solid #fabe0d;
}*/

/*******************************/

.share-btn{
  cursor:pointer;
  width: 350px;
  margin: 0 auto;
}

.ui-mask{
  position: fixed;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  /*background:rgba(0,0,0,.75);*/
  background:url(../images/alpha-80.png);
  z-index: 4000;

  display: none;
}

.user-loading{
  z-index: 5000 !important;
}

.userInfo-box-form{
  position: absolute;
  width: 1000px;
  height: 600px;
  left:50%;
  top:50%;
  margin-top:-300px;
  margin-left: -500px;
  background: url(../images/form-bg.png) no-repeat;
}

.userInfo-input{
  position: absolute;
  left: 333px;
  top: 203px;
}

button, input {
  font-size: 18px;
}

.userInfo-input input{
  width: 408px;
  height: 34px;
  margin-bottom: 10px;
  font-family: Microsoft JhengHei;
  background-color: transparent;
  border: 0;
  text-indent: 5px;
}

.userInfo-checkbox{
  position: absolute;
  left: 333px;
  top: 353px;
  cursor: pointer;
}

.userInfo-checkbox input{
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.userInfo-rule{
  position: absolute;
  left: 360px;
  top: 352px;
  width: 244px;
  height: 21px;
  cursor: pointer;
}

.userInfo-rule:hover{
  background:rgba(255,255,255,.3);
}

.userInfo-submit{
  position: absolute;
  left: 335px;
  top: 410px;
  /* width: 134px; */
  /* height: 53px; */
  /*background: url(../images/submit.png);*/
  cursor: pointer;
}

.userInfo-close{
  position: absolute;
  left: 822px;
  top: 44px;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.download-box{
  /*display: block !important;*/
}

.download-content{
  position: absolute;
  width: 1000px;
  height: 700px;
  left:50%;
  top:50%;
  margin-top:-350px;
  margin-left: -500px;
  background: url(../images/download-bg.png) no-repeat;
}

.download-close{
  position: absolute;
  left: 921px;
  top: 31px;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.download-btn{
  position: absolute;
  left: 194px;
  top: 531px;
  width: 213px;
  height: 56px;
  cursor: pointer;
}

.download-btn:hover{
  background:rgba(255,255,255,.3);
}

.join-btn{
  position: absolute;
  left: 572px;
  top: 531px;
  width: 257px;
  height: 56px;
  cursor: pointer;
}

.join-btn:hover{
  background:rgba(255,255,255,.3);
}

.product-panel{
  position: relative;
  border-top: 1px solid #cccccc;
}

.open-btn{
  position: absolute;
  width: 31px;
  height: 31px;

  left: 50%;
  margin-left: -15px;
  bottom: -13px;

  background-image: url(../images/btn-open.png);
}

.product-panel-title{
  position: relative;
  cursor: pointer;

  margin: 0px auto;
  width: 300px;
}


.panel-content{
  position: relative;
  width: 100%;
  background: url(../images/shadow.png) repeat-x;

  text-align: center;
}

.panel-content img{
  margin-top:45px;
}

.panel-loading{
  position: relative;
  width: 100%;
  height:0px;

  background: url(../images/bx_loader.gif) center center no-repeat;
}

/*******************************/

.top-btn{
  position: fixed;
  right: 50px;
  bottom: 10px;
  /*z-index: 5000;*/
  cursor: pointer;
}

.top-btn:hover{
  bottom: 12px;
}

.bottom-share-btn{
  position: fixed;
  right: 120px;
  bottom: 10px;
  /*z-index: 5000;*/
  cursor: pointer;
}

.bottom-share-btn:hover{
  bottom: 12px;
}


/*******************************/

.rule-content{
  position: absolute;
  top:0;
  bottom: 0;
  left:0;
  right: 0;

  background-size: cover;
  background-position: center center;

  background-image:url(../images/rule-bg.jpg);

  overflow-x: hidden;
}

.rule-board{
  position: absolute;
  top:0;
  left:50%;
  height: 768px;
  width: 1366px;

  margin-left:-683px;
  /*margin-top: -384px;*/
  background-image:url(../images/rule-board.png);
}

.rule-scroll{
  position: absolute;
  width: 777px;
  height: 386px;
  overflow: auto;
  left: 293px;
  top: 260px;
}

.award-btn{
  position: absolute;
  right: 173px;
  top: 263px;
  width: 110px;
  height: 111px;
  cursor: pointer;
}

.award-content{
  position: absolute;
  width: 1000px;
  height: 600px;
  left:50%;
  top:50%;
  margin-top:-300px;
  margin-left: -500px;
  background: url(../images/award-bg.png) no-repeat;
}

.award-close{
  position: absolute;
  left: 831px;
  top: 44px;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.award-list{
  position: absolute;
  left: 190px;
  top: 75px;
  width: 629px;
  height: 449px;
  overflow: auto;
}


/* ==========================================================================
   Responsive class
   ========================================================================== */

.pc-view{
  display: block;
}

.mobile-view{
  display: none;
}

/*************************************/

.ex-btn{
  position: absolute;
  cursor: pointer;

  /*background-color: rgba(0,0,0,.5);*/
}

.ex-btn-0{
  left: -155px;
  top: -525px;
  width: 500px;
  height: 500px;
}

.ex-btn-1{
  left: -155px;
  top: -525px;
  width: 500px;
  height: 500px;
}


.ex-btn-2{
  left: -115px;
  top: -517px;
  width: 500px;
  height: 500px;
}


.ex-btn-3{
  left: -155px;
  top: -525px;
  width: 500px;
  height: 500px;
}

.ex-btn-4{
  left: -78px;
  top: -525px;
  width: 500px;
  height: 500px;
}

.ex-btn-5{
  left: -96px;
  top: -462px;
  width: 500px;
  height: 500px;
}


.more-btn{
  position: absolute !important;
  width: 105px;
  height: 33px;
  background-image:url(../images/more.png);

  overflow: hidden;
}

.more-btn-0{
    left: 176px;
  top: 55px;
}

.more-btn-1{
    left: 121px;
  top: 55px;
}


.more-btn-2{
    left: 140px;
  top: 55px;
}

.more-btn-3{
    left: 163px;
  top: 55px;
}

.more-btn-4{
    left: 121px;
  top: 55px;
}

.more-btn-5{
    left: 142px;
  top: 55px;
}

.testDot{
  position: absolute;
  left:0;
  top:0;

  width: 20px;
  height: 20px;
  background-color: #000;
}

.top-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 683px;
}

/***********************************/

.award{
  width: 650px;
  margin:0 auto;
}

@media only screen and (max-width: 640px) {

  .pc-view{
    display: none;
  }

  .mobile-view{
    display: block;
  }

  #wrapper {
    position:relative;
    top:0;
    bottom: 0;
    left:0;
    right: 0;
  }

  /********************************/

  .mobile-kv{
    font-size: 0;
  }

  .product-panel-title{
    position: relative;
    cursor: pointer;

    margin: 0px auto;
    width: 640px;
  }


  .product-ec-list{
      text-align: -webkit-left;
  }

  .product-ec-list li {
    display: inline-block;
    width: 290px;
    height: 290px;
    background-color: #fff;
    margin-left: 20px;
    margin-bottom: 20px;
    overflow: hidden;
  }

  .product-ec-list img {
    width: auto;
    height: 290px;
  }

  .panel-content img{
    margin-top:0px;
  }

  .top-btn{
    position: fixed;
    right: 10px;
    bottom: 10px;
    /*z-index: 5000;*/
    cursor: pointer;
  }

  .top-btn img{
    width: 90px;
    height: auto;
  }

  .bottom-share-btn{
    position: fixed;
    right: 105px;
    bottom: 10px;
    /*z-index: 5000;*/
    cursor: pointer;
  }

  .bottom-share-btn img{
    width: 90px;
    height: auto;
  }

  .share-btn {
    cursor: pointer;
    width: 600px;
    margin: 0 auto;
  }

  /*****************************/

  .ui-mask{
    position: fixed;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    /*background-color:#8b5c06;*/
    z-index: 4000;

    display:none;
    overflow: auto;

    background: url(../images/loading.gif) center 300px no-repeat #8b5c06;
  }

  .userInfo-box-form{
    position: absolute;
    width: 640px;
    height: 1040px;
    background: url(../images/mobile/form-bg.png) no-repeat #8b5c06;

    left:0;
    top: 0;
    margin-top: 0;
    margin-left: 0;
  }

  .userInfo-input{
    position: absolute;
    left: 40px;
    top: 277px;
  }

  button, input {
    font-size: 18px;
  }

  .userInfo-input input{
      width: 560px;
      height: 77px;
      margin-bottom: 21px;
      font-family: Microsoft JhengHei;
      background-color: transparent;
      border: 0;
      text-indent: 28px;
      font-size: 30px;

      -webkit-appearance: none;
      border-radius: 0;
  }

  .userInfo-checkbox{
    position: absolute;
    left: 40px;
    top: 776px;
    cursor: pointer;
  }

  .userInfo-checkbox input{
    width: 40px;
    height: 40px;
    cursor: pointer;
  }

  #twzipcode{
    width: 560px;
    overflow: hidden;
  }

  .twzipcode-style{

    width: 575px;
    height: 77px;
    margin-bottom: 21px;
    font-family: Microsoft JhengHei;
    background-color: transparent;
    border: 0;
    text-indent: 28px;
    font-size: 30px;

    color: #a5a5a5;
  }

  .userInfo-rule{
      position: absolute;
      width: 516px;
      height: 42px;
      cursor: pointer;
      left: 86px;
      top: 776px;
  }

  .userInfo-rule:hover{
    background:rgba(255,255,255,.3);
  }

  .userInfo-submit{
    position: absolute;
    left: 41px;
    top: 846px;
    width: 559px;
    height: 80px;
    cursor: pointer;
  }

  .userInfo-submit img{
    display: none;
  }

  .userInfo-close{
    position: fixed;
    right: 10px;
    bottom: 10px;
    /*z-index: 5000;*/
    cursor: pointer;

    width: 90px;
    height: 90px;
    background: url(../images/mobile/close.png) no-repeat;
    left: initial;
    top: initial;
  }

  .download-content{
    position: absolute;
    width: 640px;
    height: 1910px;
    left:0;
    top:0;
    margin-top:0;
    margin-left: 0;
    background: url(../images/mobile/download-bg.jpg) no-repeat;

    overflow: hidden;
  }

  .download-close{
    position: fixed;
    right: 10px;
    bottom: 10px;
    /*z-index: 5000;*/
    cursor: pointer;

    width: 90px;
    height: 90px;
    background: url(../images/mobile/close.png) no-repeat;
    left: initial;
    top: initial;
  }

  .download-btn{
    position: absolute;
    left: 40px;
    top: 936px;
    width: 561px;
    height: 81px;
    cursor: pointer;
  }

  .join-btn{
    position: absolute;
    left: 40px;
    top: 1717px;
    width: 561px;
    height: 81px;
    cursor: pointer;
  }

  /*********************************/

  .mobile-table{
    background-color: #e5d6bf;
    padding-bottom: 20px;
  }

  .mobile-list li{
    margin-left: 20px;
    margin-bottom: 20px;
    list-style-type:none;
  }

  /**********************************/

  .pc-header{
    position: fixed;
    left:0;
    top:0;
    z-index: 5000;
    width:100%;
    height:90px;
    /*background-color: rgba(0,0,0,.7);*/
  }

  .logo{
    position: relative;
    float: left;
  }

  .logo img{
    height: 90px;
    width: auto;
  }

  .menu-wrapper{
    position: fixed;
    top:90px;
    bottom: 0;
    left:0;
    right: 0;

    background-color: rgba(139,92,6,.9);

    overflow: auto;
    display: none;
  }

  .menu-nav{
    position: relative;
    width: 640px;
    height: 826px;
    background-image: url(../images/mobile/menu-bg.png);
    margin-top: 20px;
  }

  .menu-nav li {
    display: inline-block;
    margin-top: -2px;
    outline: none;
  }

  .menu-nav div {
    position: relative;
    height: 14px;
    background-position: 0 0;
    margin-left: 20px;
    width: 640px;
    height: 100px;
    background-image:none;
  }

  .menu-btn{
    position: relative;
    width: 90px;
    height: 90px;
    background-image: url(../images/mobile/menu-open.png);

    float: right;
  }

  /**********************************/

  .rule-mobile div{
    margin: 0;
    padding: 0;
    font-size: 0;
  }

  .award-mobile div{
    margin: 0;
    padding: 0;
    font-size: 0;
  }

  .award-mobile{
    padding-top: 70px;
    background-color: #8b5c06;
  }

  /***********************************/

  .bottom-padding{
    position: relative;
    width: 100%;
    height: 120px;
    background-color: #e9e9e7;
  }

  /****************************/

  .award{
    width: 640px;
  }

  /****************************/

}


/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}