@charset "UTF-8";
/**
 *
 * @authors Eric Hsiao, JWT TAIPEI (eric.hsiao@jwt.com)
 * @date    2013-12-10 20:43:44
 * @version $Id$
 */

/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Content class
   ========================================================================== */

html,
body {
  margin:0;
  padding:0;
  height:100%;
  min-height: 910px;
}

#wrapper {
  min-height:100%;
  position:relative;
  overflow: hidden;
}

#wrapper-fixed{
  position: absolute;
  width: 1920px;
  height: 1080px;
  top: 50%;
  left:50%;
  margin-top: -540px;
  margin-left: -960px;
  background-image: url(../images/bg-fixed-large.jpg);
  /*background-image: url(../images/index-dummy.jpg);*/
}

#content{
  position: absolute;
  width: 640px;
  height: 1080px;
  top: 0;
  left:50%;
  margin-left: -320px;
}

.content-main{
  position: absolute;
  width: 595px;
  height: 640px;
  /*background-color: rgba(255,255,255,.5);*/
  border-radius: 84px;
  left: 23px;
  top: 118px;

  overflow: hidden;
}

.content-ui{
  position: absolute;  
  top:797px;
}

/***************************************/

.simple-btn{
  position: absolute;
  cursor: pointer;
}

.btn-nola{
  width: 91px;
  height: 96px;
  background-image: url(../images/btn-home.png);
  left: 15px;
  top: 99px;
  z-index: 1000;
}

.btn-return{
  width: 91px;
  height: 96px;
  background-image: url(../images/btn-return.png);
  left: 546px;
  top: 99px;
  z-index: 1000;
}


/**************************************/

#content-dummy{
  display: none;
}

#content-index{
  display: none;
}

.main-index-kv{
  position: absolute;
}

.main-index-logo{
  position: absolute;
  left:173px;
  top:500px;
}

.btn-rule{
  width: 226px;
  height: 163px;
  background-image: url(../images/btn-rule.png);
  left: 88px;
  top: 0px;

  background-repeat: no-repeat;
}

.btn-enter{
  width: 226px;
  height: 163px;
  background-image: url(../images/btn-enter.png);
  left: 335px;
  top: 0px;
}

/****************************************/

#content-player{
  display: none;
}

.btn-add{
  width: 154px;
  height: 160px;
  background-image: url(../images/btn-add.png);
  left: 88px;
  top: 0px;
}

.btn-start{
  width: 226px;
  height: 163px;
  background-image: url(../images/btn-start.png);
  left: 335px;
  top: 0px;
}

.gift-panel{
  position: absolute;
  width: 540px;
  height: 600px;
  /*background-color: rgba(255,255,255,.3);*/
  left: 75px;
  top:20px;
}

.gift-count{
    position: absolute;
    width: 540px;
    height: 20px;
    left: 31px;
    top: 597px;
    font-size: 20px;
    font-family: '微軟正黑體';
    font-weight: bold;
    color: #424d2e;
    text-align: center;
}

.gift-item{
  position: relative;
  width: 220px;
  height: 280px;
  display: inline-block;
  cursor: pointer;
  background-image: url(../images/gift-1.png);
}

.gift-style-1{
  background-image: url(../images/gift-1.png);
}

.gift-style-2{
  background-image: url(../images/gift-2.png);
}


.gift-style-3{
  background-image: url(../images/gift-3.png);
}


.gift-style-4{
  background-image: url(../images/gift-4.png);
}


.gift-name{
  position: absolute;
  font-size: 32px;
  font-family: '微軟正黑體';
  font-weight: bold;
  color: #965f2c;
  left: 15px;
  top: 164px;
  width: 193px;
  height: 49px;
  text-align: center;
  line-height: 49px;

  overflow:hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.btn-page-next{
    width: 61px;
    height: 88px;
    background-image: url(../images/btn-page-next.png);
    left: 587px;
    top: -392px;
}

.btn-page-pre{
    width: 61px;
    height: 88px;
    background-image: url(../images/btn-page-pre.png);
    left: 3px;
    top: -392px;
}

/*********************************/

#content-exchange{
  display: none;
}

.btn-pre{
  width: 122px;
  height: 128px;
  background-image: url(../images/btn-pre.png);
  left: 34px;
  top: 16px;
  display: none;
}

.btn-next{
  width: 170px;
  height: 176px;
  background-image: url(../images/btn-next.png);
  left: 450px;
  top: -8px;
  display: none;
}

.exchange-arrow{
  position: absolute;
  width: 424px;
  height: 255px;
  background-image: url(../images/arrow.png);
  left: 87px;
  top: 215px;
}

.exchange-item-1{
  position: absolute;
  left: 186px;
  top: 50px;
}

.exchange-item-2{
  position: absolute;
  left: 186px;
  top: 323px;
}

.pickInfoText{
  position: absolute;
  text-align: right;
  width: 200px;
  height: 42px;
  font-size: 30px;
  left: 225px;
  top: 90px;
  line-height: 42px;
  font-family: '微軟正黑體';
  font-weight: bold;
  color: #965f2c;

  background-image: url(../images/pickInfo-arr.png);
  background-repeat:no-repeat;
  background-position: right center;
  padding-right: 20px;
  display: none;
}

/*********************************/

#content-king{
  display: none;
}

.king-effect{
  position: absolute;
  width: 683px;
  height: 683px;
  background-image: url(../images/effect.png);
  left: -44px;
  top: -24px;
}

.king-text{
  position: absolute;
  width: 392px;
  height: 393px;
  background-image: url(../images/king-text.png);
  left: 106px;
  top: 229px;
}

.btn-king{
  width: 226px;
  height: 163px;
  background-image: url(../images/btn-king.png);
  left: 213px;
  top: -1px;
}

/********************************/

#content-share{
  display: none;
}

.share-effect{
  position: absolute;
  width: 683px;
  height: 683px;
  background-image: url(../images/effect.png);
  left: -44px;
  top: -24px;
}

.share-text{
  position: absolute;
  width: 530px;
  height: 598px;
  background-image: url(../images/share-text.png);
  left: 34px;
  top: 22px;
}

.btn-share{
  width: 226px;
  height: 163px;
  background-image: url(../images/btn-share.png);
  left: 213px;
  top: -1px;
}

.share-gift{
  position: absolute;
  width: 278px;
  height: 329px;
  background-image: url(../images/gift-1-l.png);
  left: 165px;
  top: 93px;

  display: none;
}

.share-gift-name{
  position: absolute;
  font-size: 34px;
  font-family: '微軟正黑體';
  font-weight: bold;
  color: #965f2c;
  left: 17px;
  top: 189px;
  width: 229px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/*********************************/

.pop-ui{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.7);
  z-index: 1000;
  display: none;
}

.panel-player-name{
  position: absolute;
  width: 640px;
  height: 600px;
  left: 50%;
  top:50%;
  margin-left: -320px;
  margin-top: -300px;
  background-image: url(../images/player-name-panel.png);
}

.input-player-name{
  position: absolute;
  width: 490px;
  height: 101px;
  font-family: '微軟正黑體';
  font-size: 48px;
  text-align: center;
  left: 72px;
  top: 120px;
  border: none;
  background: transparent;
  color: #965f2c;
  outline: none;
}

.btn-panel-player-submit{
  position: absolute;
  width: 100px;
  height: 100px;
  left: 269px;
  top: 269px;
}

/*******/

.pop-ui-player-edit{
  /*display: block;*/
}

.panel-player-edit{
  position: absolute;
  width: 640px;
  height: 600px;
  left: 50%;
  top:50%;
  margin-left: -320px;
  margin-top: -300px;
  background-image: url(../images/player-edit-panel.png);
}

.btn-panel-player-nameEdit{
    position: absolute;
    width: 148px;
    height: 149px;
    left: 142px;
    top: 138px;
}

.btn-panel-player-delete{
    position: absolute;
    width: 148px;
    height: 149px;
    left: 348px;
    top: 138px;
}

.input-player-name-edit{
  position: absolute;
  width: 490px;
  height: 101px;
  font-family: '微軟正黑體';
  font-size: 48px;
  text-align: center;
  left: 72px;
  top: 120px;
  border: none;
  background: transparent;
  color: #965f2c;
  outline: none;
}

.pop-ui-rule{
  /*display: block;*/
  overflow: auto;
}

.panel-rule{
  position: relative;
  width: 640px;
  height: 1250px;
  background-image: url(../images/rule.png);
  margin: 0 auto;
  background-repeat: no-repeat;
}

.panel-rule-close{
    position: absolute;
    width: 82px;
    height: 85px;
/*    background-color: rgba(0,0,0,.5);*/
    top: 19px;
    right: 33px;
}

.pop-test{
  display: block;
  background-color:#fff;

  width: 600px;
  height: 400px;
}


/* ==========================================================================
   Responsive class
   ========================================================================== */


@media only screen and (max-width: 640px) {
  
  .simple-btn{
    cursor: none;
  }

}


/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}