@charset "UTF-8";
/**
 *
 * @authors Eric Hsiao, JWT TAIPEI (eric.hsiao@jwt.com)
 * @date    2013-12-10 20:43:44
 * @version $Id$
 */

/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */


/* ==========================================================================
   Content class
   ========================================================================== */
  *{
    transition: All 0.4s;
  }

  html{
    font-family: 'Microsoft JhengHei', '微軟正黑體', 'Arial', 'sans-serif';
  }

  #content-wrapper{
    position: relative;
    width: 90%;
    max-width: 1300px;
    margin: 0 auto;

    font-size:16px;
  }

  #content-top{
    position: relative;
    width: 100%;
    /*height: 540px;*/
    /*background-color: #ccc;*/
  }

  .top-kv{
    position: relative;
    width: 55%;
    height: 540px;
    display: inline-block;
    vertical-align: middle;
    background-image: url(../images/kv.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: 0 50%;
  }

  .top-kv img{
    max-width: 710px;
    width: 100%;
    height: auto;
    visibility: hidden;
  }

  .top-title{
    position: relative;
    width: 45%;
    margin-top: 110px;

    display: inline-block;
    float: right;
  }

  .main-title{
    position: relative;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
  }

  .main-title::before {
    position: absolute;
    content: "";
    width: 87px;
    height: 87px;
    background-image: url(../images/quotation-left.png);
    background-repeat: no-repeat;
    top:0;
    left:0;
  }

  .main-title::after {
    position: absolute;
    content: "";
    width: 87px;
    height: 87px;
    background-image: url(../images/quotation-right.png);
    background-repeat: no-repeat;
    bottom:0;
    right:0;
  }

  .main-logo{
    font-size: 3.5em;
  }

  .main-title h1{
    font-size: 2.2em;
    font-weight: normal;
    letter-spacing:3px;
    margin-top: 5px;
    margin-bottom: 15px;
    font-family: 'Microsoft JhengHei', '微軟正黑體', 'Arial', 'sans-serif';
  }

  .main-title p{
    font-size: 1.2em;
    font-weight: normal;
    letter-spacing:1px;
    line-height: 1.5em;
    font-family: 'Microsoft JhengHei', '微軟正黑體', 'Arial', 'sans-serif';
  }

  .main-app{
    position: relative;
    float: right;
    margin-top: 25px;
    margin-bottom: 3em;
    width: 100%;
  }

  .main-app img{
    width: 100%;
    height:auto;
  }

  .main-app-txt{
    position: absolute;
    width: 38%;
    left:27%;
    height:100%;
    font-size: 0px;
    top: 0%;
  }

  .main-app-txt p{
    font-family: 'Microsoft JhengHei', '微軟正黑體', 'Arial', 'sans-serif';
    font-size: 1.3em;
    font-weight: bold;
  }

  /****************/

  #content-menu{
    position: absolute;
    right:0;
    top:30px;
    z-index: 1000;
  }

  .content-menu-option .btn{
    display: inline-block;
    /*height: 30px;*/

    padding: 8px;
    border-radius: 5px;
    background-color: #fff;
    font-weight: bold;

    font-family: 'Microsoft JhengHei', '微軟正黑體', 'Arial', 'sans-serif';
    letter-spacing: -0.05em;
    margin-right: 0.4em;

    transition-property: background-color;
    transition-duration: 0.3s;

    cursor: pointer;
    color: #000;
  }

  .content-menu-option .btn:hover{
    display: inline-block;
    border-radius: 5px;
    background-color: #1abae6;
  }

  .content-menu-option .avtive{
    display: inline-block;
    border-radius: 5px;
    background-color: #1abae6;
  }

  /****************************/

  #content-flow{
    position: relative;
    width: 100%;
    border-radius: 5px;
    border:1px #00b0e6 solid;
    clear: both;
    font-size: 0em;
  }

  .content-flow-title{
    position: absolute;
    top:-61px;
    left:0;
  }

  .content-flow-step-row{
    width: 50%;
    display: inline-block;
  }

  .content-flow-step{
    position: relative;
    height: 119px;
    width: 28%;
    display: inline-block;
    vertical-align: middle;
    font-size: 0em;

    background-image: url(../images/flow-arr.png);
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: right 0;

    padding-right: 29px;
  }

  .content-flow-step p{
    font-size: 0.95em;
    font-family: 'Microsoft JhengHei', '微軟正黑體', 'Arial', 'sans-serif';
    font-weight: bold;
  }

  .content-flow-step a{
    color: #1abae6;
    text-decoration: underline;
    cursor: auto;
    font-family: 'Microsoft JhengHei', '微軟正黑體', 'Arial', 'sans-serif';
  }

  .content-flow-step img{
    margin-left: 0.5em;
    margin-right: 0.5em;
  }

  .content-flow-step-4{
    width: 24%;
  }

  .content-flow-step-6{
    width: 32%;
    background:none;
    padding-right: 0px;
  }

  /*****************************/

  #content-app{
    position: relative;
    width: 100%;
    height:132px;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 30px;
    background-color: #e8f9fe;

    font-size: 0px;
  }

  #content-app p{
    line-height: 26px;
    color: #4e4e4e;
    font-family: 'Microsoft JhengHei', '微軟正黑體', 'Arial', 'sans-serif';
    padding-right: 20px;
  }

  /*****************************/

  #content-note p{
    margin-top: 2em;
    margin-bottom: 2em;
    color: #525252;
    font-family: 'Microsoft JhengHei', '微軟正黑體', 'Arial', 'sans-serif';
  }

  /******************************/

  #content-sub{
    position: relative;
    width: 100%;
    min-height: 10em;
    border-radius: 5px;
    border:1px #00b0e6 solid;
    clear: both;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  #content-sub .title{
    position: absolute;
    top:-80px;
    left: 0;
  }

  /******************************/

  .search-info, .search-submit,.input-title, .input-txt{
    display: inline-block;
  }

  .input-title{
    
  }

  .input-title p{
    width: 3em;
    height: 1.5em
    text-align: right;
    font-size: 1.625em;
    color: #1abae6;
  }

  .input-txt{
    width: 25em;    
    margin-left: 0.9em;
  }

  .input-txt input{
    width: 95%;
    color: #000;
    border: none;
    border-bottom: 1px #1abae6 solid;
    font-size: 1.425em;
    outline: none;
  }

  .search-submit{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .search-submit-btn{
    width: 100px;
    height: 86px;
    background: #1abae6;
    border-radius: 0.5em;

    cursor: pointer;
  }

  .search-submit-btn img{
    margin-top: 1.0em;
  }

  .search-submit-btn p{
    margin-top: 0.2em;
    color: #fff;
  }

  /******************************/

  .content-result{
    display: block !important;
  }

  .result-note{
    width: 99.8%;
    text-align: center;
    background: #1abae6;
    border: 1px #fff solid;
    border-radius: 5px;
  }

  .result-note p{
    padding: 0.5em;
    font-size: 1.25em;
    font-weight: bold;
    font-family: 'Microsoft JhengHei', '微軟正黑體', 'Arial', 'sans-serif';
  }

  .result-status{
    width: 96%;
    margin: 0 auto;
  }

  .result-number, .result-status-txt{
    width: 49%;
    display: inline-block;
    text-align: center;
  }

  .result-number p, .result-status-txt p{
    padding: 1.5em;
    font-size: 1.25em;
    font-weight: bold;
    font-family: 'Microsoft JhengHei', '微軟正黑體', 'Arial', 'sans-serif';
  }

  .result-info{
    width: 96%;
    margin: 0 auto;
    padding-top: 1.5em;
    padding-bottom: 1.5em;

    border-top: 1px #d3d3d3 solid;
  }

  .result-info-left, .result-info-right{
    width: 49%;
    display: inline-block;
  }

  .result-info-left{
    border-right: 1px #d3d3d3 solid;
  }

  .result-info-txt p{
    margin-left: 1.5em;
    line-height: 2em;
    font-size: 1.2em;
    font-family: 'Microsoft JhengHei', '微軟正黑體', 'Arial', 'sans-serif';
  }

  .result-info-txt a{
    color: #1abae6;
    text-decoration: underline;
    cursor: auto;
    font-family: 'Microsoft JhengHei', '微軟正黑體', 'Arial', 'sans-serif';
  }

  .result-info-txt .info-title{
    width: 6em;
    display: inline-block;
  }

  /******************************/

  .content-no-title{
    display: block !important;
  }

  .content-no-border{
    border: none !important;
  }


  /*****************************/
  /*about*/

  .about-tab{
    position: relative;
    width: 99%;
    margin: 0 auto;
  }

  .about-tab-btn{
    display: inline-block;
    width: 49.8%;
    text-align: center;
    border-bottom: 0.2em #d6d6d6 solid;
    cursor: pointer;
    color: #d6d6d6;

    box-sizing:border-box;
  }

  .about-tab-btn:hover{
   border-bottom: 0.2em #1abae6 solid;
   background-color: #1abae6;
   color: #fff;
  }

  .about-tab-btn p{
    font-size: 2em;
    margin: 0.5em;
    transition-property: color;
    transition-duration: 0s;
  }

  .about-tab .tab-left{
    float: left;
    border-right: 1px #d6d6d6 solid;
  }

  .about-tab .tab-right{
     float: right;
  }

  .about-tab .active{
    border-bottom-color:#1abae6;
    border-right-color: #1abae6;
    color: #1abae6;
  }

  .about-tab .active:hover{
     border-bottom-color: #1abae6;
     background-color: #1abae6;
     border-right-color: #1abae6;
     color: #fff;
  }

  /******************************/

  .content-article{
    padding: 2em;
  }

  .content-article-2{
    display: none;  
  }

  .content-article p {
    line-height: 1.8em;
    font-size: 1.125em;
    font-family: 'Microsoft JhengHei', '微軟正黑體', 'Arial', 'sans-serif';
    letter-spacing: 0.05em;
  }

  .about-topic{
    position: relative;
    margin-top: 1.5em;
  }

  .about-topic .topic-title{
    background-image: url(../images/topic-icon.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: auto 1.37em;
    padding-left: 1.8em;
  }

  .about-topic .topic-title p{
    font-size: 1.37em;
    font-weight: bold;
    color: #1abae6;
  }

  .about-topic .topic-article{
    padding-left: 1.8em;
  }

  .topic-article-box{
    border:1px #1abae6 solid;
    border-radius: 5px;
    width: 100%;
    min-height: 3em;
    margin-top: 0.8em;
    background: #fff;
  }

  .topic-article-box .content-flow-step-row{
    width: 49%;
  }

  .topic-article-box .content-flow-step-row p{
    font-size: 0.85em;
    line-height: 1.5em;
  }

  .topic-article ol {
    padding-left: 1.5em;
    list-style: decimal;
    line-height: 0em;
    font-family: 'Microsoft JhengHei', '微軟正黑體', 'Arial', 'sans-serif';
  }

  .topic-article li{
    line-height: 1.5em;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
  }

  .topic-article li p{
    font-family: 'Microsoft JhengHei', '微軟正黑體', 'Arial', 'sans-serif';
  }

  .topic-article .topic-pic img{
    width: 100%;
    height: auto;
  }

  .topic-article a {
    color: #1abae6;
    text-decoration: underline;
    cursor: auto;
    font-family: 'Microsoft JhengHei', '微軟正黑體', 'Arial', 'sans-serif';
  }

  /*******************************/
  /* Q&A */

  .qa-header{
    background-image: url(../images/qa-icon.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: auto 2em;
    padding-left: 2.2em;
  }

  .qa-header p{
    font-size: 2em;
    font-weight: bold;
    font-family: 'Microsoft JhengHei', '微軟正黑體', 'Arial', 'sans-serif';
    color: #1abae6;
  }

  .qa-topic{
    position: relative;
    width: 100%;
    border-radius: 5px;
    border:1px #00b0e6 solid;
    margin-top: 0.5em;
    margin-bottom: 0.5em;

    padding-left: 1.25em;
  }

  .qa-topic p{
    font-family: 'Microsoft JhengHei', '微軟正黑體', 'Arial', 'sans-serif';
  }

  .qa-topic .qa-topic-title{
    background-image: url(../images/qa-topic-icon.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: auto 1.4em;
    padding-left: 2em;
  }

  .qa-topic .qa-topic-title::after{
    content: "";
    width: 3em;
    height: 100%;
    position: absolute;
    right: 0;
    bottom: 0;

    background-image: url(../images/qa-open-icon.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 1em;
  }

  .qa-topic .qa-topic-title p{
    font-size: 1.25em;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
  }

  /******************************/

  .pc-client{
    display: block;
  }

  .mobile-client{
    display: none;
  }

/* ==========================================================================
   Responsive class
   ========================================================================== */


@media screen and (max-width:1300px){
  .content-flow-step{
    height: 150px;
    padding-right: 20px;
  }

  .content-flow-step img{
    margin-left: 0.1em;
    margin-right: 0.1em;
  }

  .content-flow-step p{
    font-size: 0.9em;
  }

  .content-flow-step-6{
    width: 28%;
    background:none;
    padding-right: 0px;
  }

  .main-app-txt p{
   font-size: 1.0em;
  }
}

@media screen and (max-width:1100px){
  .main-app-txt p{
   font-size: 0.9em;
  }
}

@media screen and (max-width: 960px){
  #content-wrapper{
   font-size:15px;
  }

  .pc-client{
    display: none;
  }

  .mobile-client{
    display: block;
  }

  .top-kv{
    width: 100%;
    height: auto;
  }

  .main-logo{
    font-size: 5em;
  }

  .main-title h1{
    font-size: 3em;
  }

  .top-title{
    width: 100%;
    margin-top: 0px;
  }

  .main-title p{
    font-size: 1.8em;
  }

  .main-title::before {
    width: 60px;
    height: 60px;
  }

  .main-title::after {
    width: 60px;
    height: 60px;
    background-position: right bottom;
  }

  .main-app{
    margin-bottom: 65px;
  }

  .main-app-txt{
    left: 20%;
    width: 70%;
  }

  .main-app-txt p{
   font-size: 1.2em;
  }

  .content-flow-step p {
    font-size: 1.2em;
}

  /****************/

  #content-menu {
    display: none;
    position: absolute;
    right: inital;
    left:0;
    top: 0;
    z-index: 1000;

    padding-top: 6em;
    background-color: rgba(26,186,230,.9);

    width: 100%;
    overflow: hidden;

    width: 115%;
    left: -7%;
}

  .content-sub-menu{
      width: 100% !important;
      left: 0 !important;
  }

  .content-menu-option{
    position: relative;
    width: 100%;
  }

  .content-menu-option .btn {
    display: block;
    width: 100%;
    padding: 1.0em;
    border-radius: 0px;
    background-color: transparent;
    font-weight: bold;
    font-family: 'SamsungOneLt','Microsoft JhengHei', '微軟正黑體', 'Arial', 'sans-serif';
    letter-spacing: -0.05em;
    margin-right: 0.4em;
    transition-property: background-color;
    transition-duration: 0.3s;
    cursor: pointer;
    color: #000;

    font-size: 3.5em;
    border-bottom: 1px #abe7f7 solid;

    background-image: url(../images/mobile/menu-arr.png);
    background-repeat: no-repeat;
    background-position: 85% center;
    background-size: auto 30%;
  }

  .content-menu-open{
    position: absolute;
    width: 5em;
    height: 5em;
    top:0;
    left:-5.5%;
    background-image: url(../images/mobile/menu-open.png);
    background-size: 100% 100%;
    z-index: 99999;
  }

  /****************/

  #content-flow{
    border: none;
    border-radius: 0;
    border-top: 3px #00b0e6 solid;
    border-bottom: 3px #00b0e6 solid;
  }

  .content-flow-title{
    top:-53px;
  }

  .content-flow-title img{
    height:50px;
    width: auto;
  }

  .content-flow-step {
    height: 150px;
    width: 100%;
    padding-right: 0;
    background-image:none;

    border-bottom: 1px #d3d3d3 solid;
    box-sizing:border-box;
  }

  .content-flow-step img {
    margin-left: 1em;
    margin-right: 1em;
  }

  .content-flow-step-row-left{
    border-right: 1px #00b0e6 solid;
    box-sizing:border-box;
  }

  /*************************/

  #content-app{
    height:30em;
    font-size: initial;
  }

  #content-app img{
    width:100%;
    height: auto;
  }

  #content-app p {
    line-height: 1.5em;
    color: #4e4e4e;
    font-family: 'Microsoft JhengHei', '微軟正黑體', 'Arial', 'sans-serif';
    padding-right: 20px;
    font-size: 1.4em;
    padding: 1.2em;
  }

  #content-note p {
    font-size: 2.2em;
    line-height: 1.8em;
  }

  /******************************/
  /*content-sub*/

  .content-sub-wrapper{
    width: 100% !important;
    background: #e7e7e7;
  }

  .content-sub-hide{
    display: none;
  }

  #content-sub{
    display: block !important;
    border: none;
  }

  /**********************/

  #content-sub .mobile-title{
    position: relative;
    display: block;
    width: 96%;
    height: 15em;

    margin:0 auto; 

    background-image: url(../images/mobile/search-title-img.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 10em auto;
  }

  .content-no-title .mobile-title{
    height: 8em !important;
    background:none !important;
  }

  .mobile-logo{
    position: absolute;
    font-size: 2.75em;
    right: 0em;
    top: 1em;
  }

  .mobile-title-txt{
    position: absolute;
    bottom: 0.2em;
    font-size: 4em;
    color: #575757;
  }

  /*************************/

  .search-info, .search-submit{
    position: relative;
    display: block;
    width: 96%;
    margin:0 auto; 
    font-family: 'Microsoft JhengHei', '微軟正黑體', 'Arial', 'sans-serif';
  }

  .search-info{
    border-radius: 5px;
    border:1px #00b0e6 solid;
    overflow: hidden;

    background: #fff;
  }

  .search-info::before{
    content: "輸入您登錄資訊";
    text-align: center;
    width: 100%;
    position: absolute;
    background: #00b0e6;
    color:#fff;
    font-size: 2.2em;
    line-height: 2.0em;
  }

  .search-input{
    width: 90%;
    margin: 0 auto;

    margin-top:2em;
    margin-bottom:2em;
  }

  .search-input-first{
    margin-top: 5em;
  }

  .input-title,.input-txt{
    display: block;
  }

  .input-title p{
    text-align: left;
    font-size: 2.8em;
  }

  .input-txt {
    width: 100%;
    margin-left: 0em;
}

  .input-txt input {
    width: 100%;
    color: #000;
    border: none;
    border-bottom: 1px #b0b0b0 solid;
    font-size: 2.8em;
    outline: none;
  }

  .search-submit-btn {
    position: relative;
    width: 90%;
    height: initial;
    background: #1abae6;
    border-radius: 0.5em;
    cursor: pointer;

    margin: 0 auto;
    margin-top: 2em;
    margin-bottom: 2em;
  }

  .search-submit-btn p{
    font-size: 4em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }

  .search-submit-btn img {
    margin-top: 0em;
    height: 0.9em;
    margin-top: 0.1em;
    width: auto;

    margin-left:0.5em;
  }

  /****************************/

  /*.result-info::before{
    content: "輸入您登錄資訊";
    text-align: center;
    width: 100%;
    position: absolute;
    background: #00b0e6;
    color:#fff;
    font-size: 2.2em;
    line-height: 2.0em;
  }*/

  .search-result{
    width: 96%;
    margin: 0 auto;

    border-radius: 5px;
    border: 1px #00b0e6 solid;
    overflow: hidden;
    background: #fff;
  }

  .search-result::before{
    content: "您的登錄資訊";
    text-align: center;
    width: 96%;
    position: absolute;
    background: #00b0e6;
    color:#fff;
    font-size: 2.5em;
    line-height: 2.0em;
  }

  .result-note{
    width: 96%;
    text-align: left;
    background: none;
    border: none;
    border-radius: 0;
    margin: 0 auto;
    margin-top: 5em;
  }

  .result-note p {
    padding: 0em;
    font-size: 2.2em;
    font-weight: normal;
    margin-left: 0.5em;
    line-height: 2em;
  }

  .result-status{
    margin-bottom: 1.5em;
  }

  .result-number, .result-status-txt{
    width: initial;
    display: block;
    text-align: left;
  }

  .result-number p, .result-status-txt p {
    padding: 0em;
    font-size: 2.5em;
    font-weight: normal;
    margin-left: 0.5em;
    line-height: 2em;
  }

  .result-info-left, .result-info-right{
    width: 100%;
    border: none;
  }

  .result-info-txt p {
    margin-left: 0.5em;
    line-height: 2em;
    font-size: 2.5em;
  }

  .result-info-txt .info-title {
    width: 5em;
    display: inline-block;
  }

  /****************************/

  .content-note-mobile{
    width: 96%;
    background: none;
     margin: 0 auto;
     padding-top: 0.5em;
    padding-bottom: 2em;
  }

  #content-note p{
    margin-top: 0em;
    margin-bottom: 0em;
  }


  /***********************/

  .content-menu-open-2{
    position: absolute;
    width: 5em;
    height: 5em;
    top: 1em;
    left: 2%;
    background-image: url(../images/mobile/menu-open-2.png);
    background-size: 100% 100%;
    z-index: 99999;

    cursor: pointer;
  }


  /***********************/

  .content-container {
    width: 96%;
    margin: 0 auto;
    border-radius: 5px;
    border: 1px #00b0e6 solid;
    overflow: hidden;
    background: #fff;
  }

  .content-article{
    padding: 1em;
  }

  .content-article p {
    line-height: 1.8em;
    font-size: 2.5em;
    font-family: 'Microsoft JhengHei', '微軟正黑體', 'Arial', 'sans-serif';
    letter-spacing: 0.02em;
  }

  .about-tab-btn{
    font-size: 1.5em;
  }

  .about-topic .topic-title{
    background-size: auto 1.8em;
    padding-left: 2.2em;
  }

  .about-topic .topic-title p {
    font-size: 2.8em;
    font-weight: bold;
    color: #1abae6;
  }

  .topic-article-box .content-flow-step-row p {
    font-size: 0.9em;
    line-height: 1.4em;
    font-weight: normal;
  }

  .content-flow-step img{
    width: 2em;
  }

  .about-topic .topic-article{
    padding-left: 0em;
  }

  .topic-article ol {
    padding-left: 1em;
    font-size: 2.5em;
  }

  .topic-article ol p{
    font-size: 1em !important;
  }

  .about-tab .active:hover{
     border-bottom-color:#1abae6;
     background-color:#fff;
     border-right-color:#1abae6;
     color:#1abae6;
  }

}

@media screen and (max-width: 840px){
#content-wrapper{
 font-size:14px;
}
}
@media screen and (max-width: 780px){
#content-wrapper{
 font-size:13px;
}
}
@media screen and (max-width: 720px){
#content-wrapper{
 font-size:12px;
}
}
@media screen and (max-width: 660px){
#content-wrapper{
 font-size:11px;
}
}
@media screen and (max-width: 600px){
#content-wrapper{
 font-size:10px;
}

#content-app{
    height:25em;
    font-size: initial;
  }

  #content-app p {
    line-height: 1.5em;
    font-size: 1.2em;
    padding: 1.0em;
  }

  .main-app-txt p{
   font-size: 1.0em;
  }

  .content-flow-step p {
    font-size: 1.0em;
  }

  .content-flow-step img {
    margin-left: 0.8em;
    margin-right: 0.8em;
  }
}
@media screen and (max-width: 540px){
#content-wrapper{
 font-size:9px;
}

}
@media screen and (max-width: 480px){
#content-wrapper{
 font-size:8px;
}

.main-app-txt p {
    font-size: 0.8em;
}

.content-flow-step p {
    font-size: 0.9em;
  }

  .content-flow-step img {
    margin-left: 0.2em;
    margin-right: 0.4em;
  }

  #content-app{
    height:20em;
    font-size: initial;
  }

  #content-app p {
    line-height: 1.5em;
    font-size: 1.0em;
    padding: 1em;
  }

}
@media screen and (max-width: 420px){
#content-wrapper{
 font-size:7px;
}

.main-app-txt{
  width: 80%;
  background-color: #1abae6;
}

}
@media screen and (max-width: 360px){
#content-wrapper{
 font-size:6px;
}

.main-app-txt{
  width: 80%;
  background-color: #1abae6;
}

.main-app-txt p {
    font-size: 0.4em;
}

.mobile-title-txt {
    position: absolute;
    bottom: 0.2em;
    font-size: 5em;
    color: #575757;
}

#content-sub .mobile-title {
    background-size: 6em auto;
}

}


/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}